<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="../Images/img-DS.png" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Checkout</title>
  <link rel="stylesheet" href="../css/checkout.css" />
  <link
          href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
          rel="stylesheet"
  />

  <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
<div class="se-pre-con"></div>
<header>
  <nav>
    <ul>
      <li class="primary-nav">
        <img src="../img/img-DS.png" alt="logo" />
        <a href="/">DuyShoes</a>
      </li>
      <li class="secondary-nav">
        <a href="/history">
          <i class="fas fa-history"></i> History
        </a>
      </li>
      <li class="secondary-nav">
        <a href="/checkout">
          <i class="fas fa-shopping-cart"></i> Cart
        </a>
      </li>

      <li class="secondary-nav"><a href="/">Shop</a></li>
      <li class="secondary-nav">
        <a href="">About Us</a>
      </li>
    </ul>
  </nav>
</header>
<section>
  <h1>History</h1>
  <div class="row">
    <div id="cart-container" class="column">



    </div>

</section>
</body>
<script src="../js/submain.js"></script>
</html>
